In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.0.3'

In [34]:
pd.read_csv('taxi+_zone_lookup.csv')

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [32]:
def load_to_postgres_green_tripdata_2019():
    # Read CSV
    df = pd.read_csv('green_tripdata_2019-09.csv')

    # Rename columns ending with "ID"
    df.rename(columns=lambda x: x.replace('ID', '_ID') if x.endswith('ID') else x, inplace=True)

    # Lowercase columns' names
    df.columns = map(str.lower, df.columns)

    # Rename "pulocation_id" and "dolocation_id"
    df.rename(columns={'pulocation_id': 'pu_location_id', 'dolocation_id': 'do_location_id'}, inplace=True)

    # Datetime format
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    # Sqlalchemy engine
    engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
    engine.connect()

    # Load to db
    df.to_sql(name='green_tripdata_2019', con=engine, if_exists='replace')

def load_to_postgres_taxi_and_zone_lookup():
    # Read CSV
    df = pd.read_csv('taxi+_zone_lookup.csv')

    # Rename columns ending with "ID"
    df.rename(columns=lambda x: x.replace('ID', '_ID') if x.endswith('ID') else x, inplace=True)
    
    # Lowercase columns' names
    df.columns = map(str.lower, df.columns)

    # Sqlalchemy engine
    engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
    engine.connect()

    # Load to db
    df.to_sql(name='taxi_and_zone_lookup', con=engine, if_exists='replace')

load_to_postgres_green_tripdata_2019()

/tmp/ipykernel_2585/2423417433.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

In [ ]:
'''
Question 3
"How many taxi trips were totally made on September 18th 2019?"

SELECT COUNT(*)
FROM green_tripdata_2019
WHERE (DATE(lpep_pickup_datetime) = '2019-09-18')
    AND (DATE(lpep_dropoff_datetime) = '2019-09-18');


Question 4
"Which was the pick up day with the largest trip distance? Use the pick up time for your calculations."
SELECT lpep_pickup_datetime
FROM green_tripdata_2019
WHERE trip_distance = (SELECT MAX(trip_distance) FROM green_tripdata_2019)
;

Question 5
"Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown
Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?"

SELECT t2.borough
FROM green_tripdata_2019 t1
LEFT JOIN taxi_and_zone_lookup t2
    ON t1."pu_location_id" = t2."location_id"
WHERE DATE(lpep_pickup_datetime) = '2019-09-18'
GROUP BY borough
HAVING SUM(t1.total_amount) > 50000;

Question 6
"For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone 
that had the largest tip? We want the name of the zone, not the id.

Note: it's not a typo, it's tip , not trip"

SELECT t2.zone
FROM green_tripdata_2019 t1
LEFT JOIN taxi_and_zone_lookup t2
    ON t1."do_location_id" = t2."location_id"
WHERE EXTRACT(YEAR FROM lpep_pickup_datetime) = 2019
  AND EXTRACT(MONTH FROM lpep_pickup_datetime) = 9
  AND t1.pu_location_id = (SELECT location_id FROM taxi_and_zone_lookup WHERE zone='Astoria')
ORDER BY t1.tip_amount DESC
LIMIT 1
;


>>> select * from green_tripdata_2019 limit 3;
+-------+-----------+----------------------+-----------------------+--------------------+-------------+----------------+----------------+-----------------+--------->
| index | vendor_id | lpep_pickup_datetime | lpep_dropoff_datetime | store_and_fwd_flag | ratecode_id | pu_location_id | do_location_id | passenger_count | trip_dis>
|-------+-----------+----------------------+-----------------------+--------------------+-------------+----------------+----------------+-----------------+--------->
| 0     | 2.0       | 2019-09-01 00:10:53  | 2019-09-01 00:23:46   | N                  | 1.0         | 65             | 189            | 5.0             | 2.0     >
| 1     | 2.0       | 2019-09-01 00:31:22  | 2019-09-01 00:44:37   | N                  | 1.0         | 97             | 225            | 5.0             | 3.2     >
| 2     | 2.0       | 2019-09-01 00:50:24  | 2019-09-01 01:03:20   | N                  | 1.0         | 37             | 61             | 5.0             | 2.99    >
+-------+-----------+----------------------+-----------------------+--------------------+-------------+----------------+----------------+-----------------+---------

>>> select * from taxi_and_zone_lookup limit 3;
+-------+-------------+---------+-------------------------+--------------+
| index | location_id | borough | zone                    | service_zone |
|-------+-------------+---------+-------------------------+--------------|
| 0     | 1           | EWR     | Newark Airport          | EWR          |
| 1     | 2           | Queens  | Jamaica Bay             | Boro Zone    |
| 2     | 3           | Bronx   | Allerton/Pelham Gardens | Boro Zone    |
+-------+-------------+---------+-------------------------+--------------+
'''

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)

In [10]:
len(df)

100000

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.2,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.7,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0

In [12]:
df.head(10).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

10

In [13]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

Wall time: 10.4 s

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.115 second
inserted another chunk..., took 15.076 second
inserted another chunk..., took 14.321 second
inserted another chunk..., took 17.030 second
inserted another chunk..., took 16.002 second
inserted another chunk..., took 15.990 second
inserted another chunk..., took 16.380 second
inserted another chunk..., took 15.642 second
inserted another chunk..., took 14.489 second
inserted another chunk..., took 14.900 second
inserted another chunk..., took 14.711 second

C:\Users\alexe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk..., took 15.301 second
inserted another chunk..., took 9.552 second

StopIteration:

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')